extends _layout
block content
  .container
    .row.main
      .panel-heading
        .panel-title.text-center
          h1.title Invoice.bg
        .btn-group
          button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | Допълнителна информация 
            span.caret
          ul.dropdown-menu
            li
            span Участници
            li.divider(role='separator')
            li
            a(href='https://telerikacademy.com/Users/Doubleshot') Нено Стефанов
            li
            a(href='https://telerikacademy.com/Users/Mirka') Мирослава Стратева
            li
            a(href='https://telerikacademy.com/Users/Neviana_Michaleva') Невяна Михалева
            li
            a(href='https://telerikacademy.com/Users/telerik2014') Димитър Стоянов
            li
            a(href='https://telerikacademy.com/Users/sevdalina.pashova') Севдалина Пашова
            li.divider(role='separator')
            li
            a(href='https://github.com/Tyche-Team') Tyche-Team GitHub
