extends _layout
include _mixins/_invoice-list
block content
  .container
    .row.main
      .panel-heading
        .panel-title.text-center
          h1.title Списък с издадени фактури
          hr
    #invoice-details
      +invoice-list(model, params.page, params.pages)
    .down-nav-list
    if user
      a.btn.btn-primary.btn-lg.login-button(href="/invoice") Добави фактура