mixin invoice-place(invoices)
		
	#invoicelist-details
		table#nvoicelist
				thead
					tr
						td(width='10%') Дата
						td(width='10%') Номер
						td(width='10%') Стойност
						td(width='20%') Клиент
						td(width='20%') МОЛ
						td(width='30%') Адрес
				tbody
					each invoice in invoices
						tr
							td.date
								-
									var date= new Date(invoice.date);
									var day = date.getDate();
									var monthIndex = date.getMonth() + 1;
									var year = date.getFullYear();
									var convertedDate = day + '.' + monthIndex + '.' + year + ' г.';
								= convertedDate
							td
								a(href="/invoice/" + invoice._id) 
									= invoice.number
							td
								= invoice.total
							td
								= invoice.client.name
							td
								= invoice.client.accountablePerson
							td
								= invoice.client.address   